@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
$primary-color: rgba(#2c5a66, 0.75);
$secondary-color: rgba(#2c5a66, 0.5);
//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  height: 100svh;
  overflow-y: hidden;
}
body.dark {
  background-image: url('./img/chatBackground.jpg');
  background-size: contain;
  background-position-y: top;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.mid-opacity {
  opacity: 0.7;
}

.tilt-slighly {
  transform: rotate(-2deg);
}

.container {
  width: 100%;
  max-width: 960px;
  height: 100vh;
  height: 100svh;
  overflow-y: hidden;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
}

// form general defenitions
form {
  width: 70%;
  margin: 0 auto;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid $primary-color;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

// Buttons general defenitions
.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: $primary-color;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-transperent {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  width: 50px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

// Babble chat Room App pages
.babble-chat-room-app {
  /* scrollbar */
  @-moz-document url-prefix() {
    @supports (scrollbar-color: blue red) {
      * {
        scrollbar-color: $primary-color rgba(#fff, 0.1);
        scrollbar-width: thin;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 0.7em;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    // background-color: hsl(200, 37%, 22%);
    background: linear-gradient($primary-color, rgba($secondary-color, 0.7));
    border-radius: 100vw;
    border: 0.2px black solid;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
    flex-grow: 0;
    a {
      transition: color 100ns ease-in;
      &:hover {
        color: #777;
        cursor: pointer;
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        margin-left: 20px;
        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  /* Login Page */
  .login-form {
    .password-input {
      position: relative;
      .input-show-password {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: $primary-color;
        svg {
          margin: auto;
        }
      }
    }
  }

  /* Chat page */
  .chat-list-page {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* Chat info */
    .info {
      display: flex;

      align-items: center;
      justify-content: space-between;
      .stats {
        margin: 10px;
        flex-grow: 0;
        position: relative;
        transition: transform 0.5s ease;
        font-size: 1.3rem;
        input[type='checkbox'] {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
        .online-users-count {
          padding: 5px;
        }
        .online-users-list {
          font-size: 1rem;
          transform: scale(0);
          transition: transform 0.3s ease-out;
          padding: 15px 0;
          border-radius: 10px;
          position: absolute;
          top: 2rem;
          margin-left: 2.3rem;
          background-color: rgba(black, 0.59);
          z-index: 100;
          width: 200px;
          min-height: 200px;
          color: rgba(white, 0.59);
          align-items: center;
          .headline {
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              display: flex;
              img {
                margin: auto;
                width: 25px;
                height: 25px;
              }
            }
          }
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: rgba(#777, 0.7);
            margin: 10px 0;
            border-radius: 5px;
            .online-users-avatar {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-size: contain;
              background-image: url('./img/userIcon.png');
            }
            p {
              margin: 5px;
            }
          }
        }
      }
      .radio {
        cursor: pointer;
        transition: opacity 0.5s ease-in;
        img {
          width: 4.5rem;
        }
      }
      .radio-on {
        animation: slight-spin 5s linear infinite;
      }
    }
    /* Chat content */
    .list-items {
      display: flex;
      flex-direction: column;
      scroll-behavior: smooth;
      overflow-y: auto;
      padding: 10px;
      flex-grow: 1;
      .feedback {
        background-color: rgba(#eee, 0.07);
        border-radius: 5px;
        font-weight: 550;
        margin-top: 10px;
      }
      .self {
        display: flex;
        flex-direction: row-reverse;
      }
      .time {
        font-size: 0.8rem;
        opacity: 0.75;
      }
      .list-item-header {
        display: flex;
        justify-content: space-between;
        .list-item-change-buttons {
          display: flex;
          .delete,
          .edit {
            transform: scale(0);
            transition: transform 0.2s ease-out;
            padding: 3px 10px;
          }
        }
      }
      /* Arrows Base */
      .list-item:before {
        content: '';
        position: absolute;
        bottom: 25px;
        width: 0;
        height: 0;
        border-style: solid;
      }

      /* Right Side Arrows */
      .other-content:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent $secondary-color transparent transparent; /* up, right, bottom, left */
      }

      /* Left Side Arrows */
      .self-content:before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent $primary-color;
      }
      .list-item-container:hover .delete,
      .list-item-container:hover .edit {
        display: block;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
        }
      }
      .edit-mode {
        display: grid;
        grid-template-columns: 10fr 1fr;
        align-items: center;
        .edit-input {
          width: 100%;
          margin: 5px;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.05);
          box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.5);
          color: white;
          outline: rgba(#000, 0.3) 1px solid;
          border-radius: 5px;
        }
        .list-item-edit-buttons {
          flex-grow: 0;
          border: none;
          outline: none;
          float: right;
          button {
            background-color: transparent;
            border: none;
            transition: transform 0.5s ease;
            font-size: 1.3rem;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .list-item-container {
        display: flex;
        .list-avatar {
          width: 15vw;
          height: 15vw;
          max-width: 55px;
          max-height: 55px;
          border-radius: 50%;
          margin: 15px;
          vertical-align: middle;
          align-self: flex-end;
        }
        .self,
        .other {
          background-image: url('./img/userIcon.png');
          background-size: cover;
        }
        .list-item {
          position: relative;
          width: 70%;
          background-color: $primary-color;
          color: white;
          border-radius: 5px;
          margin: 5px;
          padding: 5px;
          text-align: left;
          p,
          h3 {
            padding-left: 5px;
          }
          .chat-item-content {
            padding-top: 5px;
          }
        }
        .other-content {
          background-color: $secondary-color;
        }
      }
    }
    /* New message form */
    .form {
      /* justify content - alignment on the main axis */
      flex-grow: 0;
      display: flex;
      align-self: flex-end;
      width: 100%;
      margin-bottom: 15px;
      .new-message-input {
        flex-grow: 1;
        textarea {
          min-height: 65px;
          margin-top: 15px;
          color: white;
          background-color: $primary-color;
          border: 1px solid #2c5a66;
          border-radius: 5px;
          outline: black;
          box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.5);
        }
      }
      .send-message-button {
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        margin: 15px 0 0 10px;
        .send-icon {
          width: 50px;
          transition: background-color, transform 0.5s ease;
          &:hover {
            background-color: rgba(black, 0.2);
            transform: scale(1.1);
          }
        }
      }
    }

    @media (max-width: 600px) {
      .heading p {
        font-size: 1.5rem;
      }
    }

    /* moobile deviced with no hover ability */
    @media (hover: none) {
      .delete,
      .edit {
        display: block !important;
        transform: scale(1) !important;
      }
      input[type='checkbox']:checked ~ .online-users-count {
        color: #777;
      }
      input[type='checkbox']:checked ~ .online-users-list {
        transform: scale(1);
      }
    }
    @media (hover: hover) {
      .stats:hover {
        color: #777;
        .online-users-list {
          transform: scale(1);
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slight-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 85vw !important;
  }
  .dark {
    background-size: cover !important;
  }
}
